<footer>
    <div class="bottom-navbar-contents">
        <div>
            <a href="/home" class="btn bi bi-house-fill icon"></a>
        </div>
        <div>
            <a href="/search" class="btn bi bi-plus-circle-fill icon"></a>
        </div>
        <div>
             <a href="/account" class="btn bi bi-person-fill icon"></a>
        </div>
    </div>
</footer>
<style>
    .bottom-navbar-contents {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .icon {
        font-size: 200%;
    }
</style>