<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpecCheck - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/car-card.css">
</head>

<body>
    <div class="vehicle-cards-holder">
        <div class="card vehicle-card">
            <div class="card-body">
                <h5 class="card-title" id="carMakeModel">{{ Car make and model }}</h5>
                <p class="card-text">
                    <span id="fuel">Fuel: </span>
                    <span id="oilLevel">Oil Level: </span>
                    <span id="tirePressure">Tire Pressure: </span>
                    <span id="battery">Battery: </span></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" id="note">{{ Note: }}</li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>