<div class="offcanvas offcanvas-start" tabindex="-1" id="menu" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <a href="/home" class="list-group-item list-group-item-action btn btn-primary bi bi-house-fill"></a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <br><br><br>
        <ul class="list-group list-group-flush no-borders">
            <a href="/account" class="list-group-item list-group-item-primary btn btn-primary">Account</a>    
        </ul>
        <br>
        <ul class="list-group list-group-flush no-borders">
            <a href="/search" class="list-group-item list-group-item-primary btn btn-primary">Add Car</a>
        </ul>
        <br><br><br><br><br>
        <ul class="list-group list-group-flush no-borders">
            <button class=" list-group-item list-group-item-danger btn btn-outline-danger" id="logoutBtn">Logout</button>
        </ul>
    </div>
</div>
<style>
    .offcanvas.offcanvas-start {
        width: 300px;
    }

    .bi-house-fill {
        font-size: 200%;
    }

    /* The #menuBtn style was removed from here */
</style>